/* Custom global styles */

:root {
  --color-bg: #DCCFBE;
  --color-white: #fff;
  --color-contrast-higher: #1A1917;
}

@font-face {
  font-family: 'Missouri';
  src: url('/fonts/OTMissouri-16mm.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/OTNeueMontreal-SemiBoldSemiSqueezed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Loco';
  src: url('/fonts/PPLocomotiveNew-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Neue Montreal', sans-serif;
  line-height: 108%;
  background-color: var(--color-bg);
  background-image: url('/images/bg-texture.jpg');
  background-repeat: repeat;
}

.bg-contrast-higher {
  background-color: var(--color-contrast-higher);
}

.font-accent {
  font-family: 'Missouri', serif;
}

.font-secondary {
  font-family: 'Loco', serif;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -.05em;
}

.font-default {
  font-family: 'Neue Montreal', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.eyebrow {
  font-size: 14px;
  font-family: 'Missouri', serif;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .font-default {
    font-size: 24px;
  }

  .font-secondary {
    font-size: 65px;
    line-height: 76px;
  }

  .eyebrow {
    font-size: 22px;
  }

  .footer-row {
    height: 70px;
  }
}

.nav-text, .footer-text {
  font-size: 16vw;
  line-height: 85%;
}

nav {
  color: var(--color-white);
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

nav * {
  mix-blend-mode: difference;
}

footer {
  color: var(--color-bg); 
}
 
.difference {
  mix-blend-mode: difference; 
}

.mobile-eyebrow {
  font-size: 24px; 
  line-height: 30px;
}

.footer-text {
  position: absolute;
  bottom: -4vw;
  mix-blend-mode: difference;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.footer-row {
  height: 45px;
}

@media screen and (min-width: 1024px) {
  .footer-row {
    height: 70px;
  }
}

.mln-10 {
  margin-left: -0.5em;
}
