/* Custom global styles */

:root {
  --color-bg: #fff;
  --color-white: #fff;
  --color-contrast-higher: #1A1917;
}

@font-face {
  font-family: 'Missouri';
  src: url('/fonts/OTMissouri-16mm.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/OTNeueMontreal-SemiBoldSemiSqueezed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Loco';
  src: url('/fonts/PPLocomotiveNew-Light.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Neue Montreal', sans-serif;
  line-height: 108%;
}

.font-accent {
  font-family: 'Missouri', serif;
}

.font-secondary {
  font-family: 'Loco', serif;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -.05em;
}

.font-default {
  font-family: 'Neue Montreal';
  text-transform: uppercase;
  font-size: 24px;
}


@media screen and (min-width:1024px) {
  .font-secondary {
    font-size: 65px;
    line-height: 76px;
  }
}

.eyebrow {
  font-size: 22px;
}

.nav-text, .footer-text {
  font-size: 16vw;
  line-height: 85%;
}

nav {
  color: var(--color-white);
  mix-blend-mode: difference;
}

/* Add any other custom styles here */

footer {
  color: var(--color-bg)
}

.footer-content {
  mix-blend-mode: difference;
}

.footer-text { position: absolute; bottom: -4vw; mix-blend-mode: difference; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%);
}

.footer-row {
  height: 70px;
}