.horseshoe-wrapper {
  position: relative;
  width: 390px;
  height: 547px;
  background-color: #1A1917;
  color: #DCCFBE;
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
}


.horseshoe-wrapper .text {
  position: absolute;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--color-contrast-higher)
}

.textOne {
  top: -30px;
  left: 0;
}

.textTwo {
  top: 1rem;
  left: -120px;
}

.textThree {
  top: 133px;
  right: -160px;
}

.textFour {
  bottom: 50px;
  right: -144px;
}

.star {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
