.horseshoe-wrapper {
  position: relative;
  width: 390px;
  height: 547px;
  background-color: #1A1917;
  color: #DCCFBE;
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
}

.horseshoe-wrapper .text {
  position: absolute;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--color-contrast-higher)
}

.textOne {
  top: -30px;
  left: 0;
}

.textTwo {
  top: 1rem;
  left: -120px;
}

.textThree {
  top: 133px;
  right: -160px;
}

.textFour {
  bottom: 50px;
  right: -144px;
}

.star {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 768px) {
  .horseshoe-wrapper {
    width: 191px;
    height: 268px;
    margin: 0 0 0 auto;
  }

  .textContainer {
    position: absolute;
    left: -220px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 268px;
  }

  .horseshoe-wrapper .text {
    position: relative;
    font-size: 14px;
    left: 0;
    right: 0;
    margin-bottom: .5rem;
  }

  .textOne {
    top: 0;
  }

  .textTwo {
    top: 0;
  }

  .textThree {
    top: 0;
  }

  .textFour {
    bottom: 0 !important;
    margin-top: 183px;
  }

  .star {
    bottom: 10px;
    right: 351px;
    transform: scale(0.6);
  }
    .star path, .star circle {
    stroke: var(--color-contrast-higher);
    }
}
